
*{
  @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
}
body{
  background-color: green;
}
h1, h2 {
  font-family: Lato;
}
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}
button{
  background-color:#FFF100;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}
.imgContainer{
  justify-content: space-around;
  display: flex;
  margin: 0;
  padding: 5px;
}
img{
  margin: 5px;
  width: 40%;
}
.shuffleCards{
  align-self: flex-start;
}